In [2]:
from sklearn import tree
import pandas as pd
import os

In [3]:
df = pd.read_csv(os.path.join("Resources", "testing.csv"))
df.head()

,Year,GCAG,GISTEMP,Average Land Temperature (Degrees Celcius),c-C4F8,C2F6,C3F8,C4F10,C5F12,C6F14,...,HFC245fa,HFC365mfc,HFC4310mee,CH4,CH3Br,CH3Cl,NF3,N20,SF6,SO2F2
0,1880,-0.1148,-0.20,8.118750,0.0,0.000349,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,868.696106,5.299998,457.0,0.0,277.265047,0.0,0.000028
1,1881,-0.0628,-0.12,8.270917,0.0,0.000363,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,870.984127,5.299998,457.0,0.0,277.374049,0.0,0.000029
2,1882,-0.0648,-0.10,8.128917,0.0,0.000377,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,873.250134,5.299998,457.0,0.0,277.486048,0.0,0.000029
3,1883,-0.1424,-0.21,7.976917,0.0,0.000392,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,875.603151,5.299998,457.0,0.0,277.591048,0.0,0.000029
4,1884,-0.2009,-0.28,7.773667,0.0,0.000407,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,878.148195,5.299998,457.0,0.0,277.695048,0.0,0.000029

In [5]:
target = df["GCAG"]

In [6]:
clean_data = df.drop(["Average Land Temperature (Degrees Celcius)", "GISTEMP", "GCAG", "Year"], axis=1)
feature_names = clean_data.columns
clean_data.head()

,c-C4F8,C2F6,C3F8,C4F10,C5F12,C6F14,C7F16,C8F18,CO2,CCl4,...,HFC245fa,HFC365mfc,HFC4310mee,CH4,CH3Br,CH3Cl,NF3,N20,SF6,SO2F2
0,0.0,0.000349,0.0,0.0,0.0,0.0,0.0,0.0,289.469999,0.025,...,0.0,0.0,0.0,868.696106,5.299998,457.0,0.0,277.265047,0.0,0.000028
1,0.0,0.000363,0.0,0.0,0.0,0.0,0.0,0.0,289.736999,0.025,...,0.0,0.0,0.0,870.984127,5.299998,457.0,0.0,277.374049,0.0,0.000029
2,0.0,0.000377,0.0,0.0,0.0,0.0,0.0,0.0,290.018999,0.025,...,0.0,0.0,0.0,873.250134,5.299998,457.0,0.0,277.486048,0.0,0.000029
3,0.0,0.000392,0.0,0.0,0.0,0.0,0.0,0.0,290.262999,0.025,...,0.0,0.0,0.0,875.603151,5.299998,457.0,0.0,277.591048,0.0,0.000029
4,0.0,0.000407,0.0,0.0,0.0,0.0,0.0,0.0,290.511999,0.025,...,0.0,0.0,0.0,878.148195,5.299998,457.0,0.0,277.695048,0.0,0.000029

In [7]:
# Convert to numpy arrays
import numpy as np

features = np.array(clean_data)
target_final = np.array(target)

# Training and Testing Sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target_final, random_state = 42)

In [8]:
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.799584993628493

In [15]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=5000)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.894044507623645

In [16]:
results = sorted(zip(rf.feature_importances_, feature_names), reverse=True)

In [19]:
new_df = pd.DataFrame(results)

In [21]:
new_df.to_csv('resultsGCAG.csv', index=False)

In [22]:
results

[(0.1271362728829125, 'Halon1211'),
 (0.06745097828649754, 'HFC23'),
 (0.04518196175185825, 'HFC236fa'),
 (0.03735337068254851, 'HCFC22'),
 (0.03556523666935123, 'CO2'),
 (0.03377209404566782, 'C3F8'),
 (0.03375584602566457, 'SO2F2'),
 (0.03198668285574335, 'C2F6'),
 (0.031520716648002954, 'CH2Cl2'),
 (0.03086851826684474, 'HFC227ea'),
 (0.03067214144117134, 'HFC32'),
 (0.030405921688099385, 'N20'),
 (0.029545540171208143, 'CH4'),
 (0.028814843395836, 'CFC113'),
 (0.028316012808753743, 'CF4'),
 (0.025564066099966882, 'Halon2402'),
 (0.023118673610510457, 'NF3'),
 (0.020699798331869503, 'CHCl3'),
 (0.020070131771667225, 'HFC152a'),
 (0.01989600944422978, 'CH3Br'),
 (0.019811295216081642, 'CFC114'),
 (0.01929657304255458, 'CCl4'),
 (0.017795292087172503, 'C8F18'),
 (0.01628299025365846, 'CFC115'),
 (0.016032337149514395, 'CFC12'),
 (0.01596788784522828, 'CFC11'),
 (0.015831521665195827, 'Halon1301'),
 (0.01571737758917692, 'c-C4F8'),
 (0.014685302170108133, 'C6F14'),
 (0.014581356699687891, 'HCFC142b'),
 (0.014196162176842029, 'HFC365mfc'),
 (0.013980758046249736, 'C5F12'),
 (0.013403354581472812, 'HFC143a'),
 (0.013202009124009522, 'SF6'),
 (0.012938643670856622, 'C7F16'),
 (0.01161493457076272, 'C4F10'),
 (0.006345621733043125, 'CH3Cl'),
 (0.005785379127114607, 'CH3CCl3'),
 (0.004067533360000027, 'HFC125'),
 (0.0024069866471155884, 'HFC4310mee'),
 (0.001834509770716184, 'HFC134a'),
 (0.0015505261684203066, 'HCFC141b'),
 (0.0009768304266145125, 'HFC245fa')]