In [36]:
from sklearn import tree
import pandas as pd
import os

In [37]:
df = pd.read_csv(os.path.join("Resources", "testing.csv"))
df.head()

,Year,GCAG,GISTEMP,Average Land Temperature (Degrees Celcius),c-C4F8,C2F6,C3F8,C4F10,C5F12,C6F14,...,HFC245fa,HFC365mfc,HFC4310mee,CH4,CH3Br,CH3Cl,NF3,N20,SF6,SO2F2
0,1880,-0.1148,-0.20,8.118750,0.0,0.000349,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,868.696106,5.299998,457.0,0.0,277.265047,0.0,0.000028
1,1881,-0.0628,-0.12,8.270917,0.0,0.000363,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,870.984127,5.299998,457.0,0.0,277.374049,0.0,0.000029
2,1882,-0.0648,-0.10,8.128917,0.0,0.000377,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,873.250134,5.299998,457.0,0.0,277.486048,0.0,0.000029
3,1883,-0.1424,-0.21,7.976917,0.0,0.000392,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,875.603151,5.299998,457.0,0.0,277.591048,0.0,0.000029
4,1884,-0.2009,-0.28,7.773667,0.0,0.000407,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,878.148195,5.299998,457.0,0.0,277.695048,0.0,0.000029

In [38]:
target = df["GISTEMP"]

In [39]:
clean_data = df.drop(["Average Land Temperature (Degrees Celcius)", "GISTEMP", "GCAG", "Year"], axis=1)
feature_names = clean_data.columns
clean_data.head()

,c-C4F8,C2F6,C3F8,C4F10,C5F12,C6F14,C7F16,C8F18,CO2,CCl4,...,HFC245fa,HFC365mfc,HFC4310mee,CH4,CH3Br,CH3Cl,NF3,N20,SF6,SO2F2
0,0.0,0.000349,0.0,0.0,0.0,0.0,0.0,0.0,289.469999,0.025,...,0.0,0.0,0.0,868.696106,5.299998,457.0,0.0,277.265047,0.0,0.000028
1,0.0,0.000363,0.0,0.0,0.0,0.0,0.0,0.0,289.736999,0.025,...,0.0,0.0,0.0,870.984127,5.299998,457.0,0.0,277.374049,0.0,0.000029
2,0.0,0.000377,0.0,0.0,0.0,0.0,0.0,0.0,290.018999,0.025,...,0.0,0.0,0.0,873.250134,5.299998,457.0,0.0,277.486048,0.0,0.000029
3,0.0,0.000392,0.0,0.0,0.0,0.0,0.0,0.0,290.262999,0.025,...,0.0,0.0,0.0,875.603151,5.299998,457.0,0.0,277.591048,0.0,0.000029
4,0.0,0.000407,0.0,0.0,0.0,0.0,0.0,0.0,290.511999,0.025,...,0.0,0.0,0.0,878.148195,5.299998,457.0,0.0,277.695048,0.0,0.000029

In [41]:
# Convert to numpy arrays
import numpy as np

features = np.array(clean_data)
target_final = np.array(target)

# Training and Testing Sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(features, target_final, random_state = 42)

In [42]:
clf = tree.DecisionTreeRegressor()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.8497521390203735

In [43]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.8967710289305223

In [44]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.07437881820351035, 'Halon1211'),
 (0.07161012374296495, 'HFC227ea'),
 (0.058322940227833894, 'Halon2402'),
 (0.037344579509963005, 'HCFC22'),
 (0.03728089860477542, 'N20'),
 (0.033095077370467435, 'HFC23'),
 (0.031534756269481996, 'CF4'),
 (0.03150506356892458, 'CO2'),
 (0.031054878366873994, 'C2F6'),
 (0.030600301188946695, 'SO2F2'),
 (0.027940471476199005, 'SF6'),
 (0.027225129160644422, 'C4F10'),
 (0.0271567737709303, 'C3F8'),
 (0.026978632135299618, 'CH2Cl2'),
 (0.026573528720880892, 'HFC365mfc'),
 (0.026259699829981845, 'HFC236fa'),
 (0.025016057696781897, 'CFC114'),
 (0.024338201543324486, 'HCFC142b'),
 (0.024052499902234604, 'C8F18'),
 (0.023219585312460902, 'CFC11'),
 (0.022767542057267012, 'CHCl3'),
 (0.022525153011943782, 'C6F14'),
 (0.021360313766395637, 'NF3'),
 (0.020427788250047887, 'HFC143a'),
 (0.019743172142018615, 'CH3Br'),
 (0.01965237361689779, 'HFC152a'),
 (0.0184266944040895, 'c-C4F8'),
 (0.018319475133704292, 'CFC115'),
 (0.018282749818739345, 'C5F12'),
 (0.01791508216694112, 'CFC113'),
 (0.016553682419825636, 'CCl4'),
 (0.01600438747702368, 'CH4'),
 (0.014013197691233048, 'HFC125'),
 (0.013498190299346095, 'HFC32'),
 (0.011233267672381834, 'Halon1301'),
 (0.00924799888492536, 'C7F16'),
 (0.008341736970981097, 'CFC12'),
 (0.004662396507821851, 'CH3CCl3'),
 (0.003570082863407773, 'CH3Cl'),
 (0.00306913551577739, 'HFC245fa'),
 (0.002517930543847493, 'HFC4310mee'),
 (0.0012931842368275562, 'HCFC141b'),
 (0.0010864479460759194, 'HFC134a')]